.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px 64px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--border-color);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #101828;
  text-decoration: none;
  position: relative;
  z-index: 1;
  letter-spacing: 0;
}

.logoBold {
  font-weight: 700 !important;
}

.logoNormal {
  font-weight: 400 !important;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--main-green);
}

.active {
  color: var(--main-green);
}
